{#<div>#}
{#    <div class="card">#}
{#        <div class="card-header">#}
{#            Categories#}
{#        </div>#}
{#        <div class="card-body" style="padding: 0">#}
{#            {% for item in cat_menu %}#}
{#                <li style="list-style: none;">#}
{#                    <a class="dropdown-item" style="padding: 8px 16px"#}
{#                       href="{% url 'category' item|slugify %}">{{ item }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div class="topics">
    <h2 class="nb_h2">Categories</h2>
    {% for item in cat_menu %}
        <a href="{% url 'category' item|slugify %}" class="topic-btn">
            <div class="icon-box">
                <h2 class="nb_h2">#</h2>
            </div>
            <p>{{ item|capfirst }}</p>
        </a>
    {% endfor %}
</div>

{#<div class="tags">#}
{##}
{#    <h2 class="nb_h2">Tags</h2>#}
{##}
{#    <div class="wrapper">#}
{##}
{#        <button class="hashtag">#mongodb</button>#}
{#        <button class="hashtag">#nodejs</button>#}
{#        <button class="hashtag">#a11y</button>#}
{#        <button class="hashtag">#mobility</button>#}
{#        <button class="hashtag">#inclusion</button>#}
{#        <button class="hashtag">#webperf</button>#}
{#        <button class="hashtag">#optimize</button>#}
{#        <button class="hashtag">#performance</button>#}
{##}
{#    </div>#}
{#</div>#}

<div class="contact">

    <h2 class="nb_h2">Let's Talk</h2>

    <div class="wrapper">

        <p>
            Do you want to learn more about how I can help your company overcome problems? Let us have a
            conversation.
        </p>

        <ul class="social-link list-unstyled">

            <li>
                <a href="#" class="icon-box discord">
                    <ion-icon name="logo-discord"></ion-icon>
                </a>
            </li>

            <li>
                <a href="#" class="icon-box twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>

            <li>
                <a href="#" class="icon-box facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>

        </ul>

    </div>

</div>

<div class="newsletter">

    <h2 class="nb_h2">Newsletter</h2>

    <div class="wrapper">

        <p>
            Subscribe to our newsletter to be among the first to keep up with the latest updates.
        </p>

        <form>
            <input type="email" name="email" placeholder="Email Address" required>

            <button type="submit" class="nb_btn nb_btn-primary">Subscribe</button>
        </form>

    </div>

</div>
